[submodule "on-hyperskill/cinema-room-manager"]
	path = on-hyperskill/java/cinema-room-manager
	url = git@github.com:Dima0687/cinema-room-manager.git
[submodule "on-hyperskill/simple-chat-bot-with-java"]
	path = on-hyperskill/java/simple-chat-bot-with-java
	url = git@github.com:Dima0687/simple-chat-bot-with-java.git
[submodule "on-hyperskill/simple-tic-tac-toe-with-java"]
	path = on-hyperskill/java/simple-tic-tac-toe-with-java
	url = git@github.com:Dima0687/simple-tic-tac-toe-with-java.git
[submodule "on-hyperskill/simple-corner-shop-income-calcutor"]
	path = on-hyperskill/java/simple-corner-shop-income-calculator
	url = git@github.com:Dima0687/simple-corner-shop-income-calcutor.git
[submodule "on-hyperskill/last-pencil-with-java"]
	path = on-hyperskill/java/last-pencil-with-java
	url = git@github.com:Dima0687/last-pencil-with-java.git
[submodule "on-hyperskill/coffee-machine-simulator-with-java"]
	path = on-hyperskill/java/coffee-machine-simulator-with-java
	url = git@github.com:Dima0687/coffee-machine-simulator-with-java.git
[submodule "on-hyperskill/bulls-and-cows"]
	path = on-hyperskill/java/bulls-and-cows
	url = git@github.com:Dima0687/bulls-and-cows.git
[submodule "on-hyperskill/java/zookeeper-with-java"]
	path = on-hyperskill/java/zookeeper-with-java
	url = git@github.com:Dima0687/zookeeper-with-java.git
[submodule "on-hyperskill/java/amazing-numbers"]
	path = on-hyperskill/java/amazing-numbers
	url = git@github.com:Dima0687/amazing-numbers.git
[submodule "on-hyperskill/java/chuck-norris-cipher-encoder"]
	path = on-hyperskill/java/chuck-norris-cipher-encoder
	url = git@github.com:Dima0687/chuck-norris-cipher-encoder.git
[submodule "on-hyperskill/java/connect-four-with-java-and-ui"]
	path = on-hyperskill/java/connect-four-with-java-and-ui
	url = git@github.com:Dima0687/connect-four-with-java-and-ui.git
